/* reset css */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
a {
  color: #444444;
}

body {
  -webkit-text-size-adjust: 100%;
}
article img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
article {
  padding: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: #333333;
}
*::before,
*::after {
  box-sizing: border-box;
}
li,
span {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, sans-serif;
  color: #444444;
  font-size: 14px;
}
h2,
h3 {
  font-size: 100%;
  padding: 0;
}
h3 {
  background: none;
}