.btn-regist {
  max-width: 518px;
  margin: 0 auto;
  background: #d94e09;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  a {
    margin: 15px 0;
    font-size: 26px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding: 30px 0;
    span {
      margin-left: 68px;
    }
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 6px;
      left: 61px;
      width: 72px;
      height: 72px;
      background-image: url("../images/icon-free.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 35px;
      right: 44px;
      width: 10px;
      height: 15px;
      background-image: url("../images/arr.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
@media (max-width: 320px) {
  .btn-regist {
    a {
      font-size: 16px !important;
      span {
        margin-left: 42px;
      }
      &::before {
        top: 8px;
        left: 10px;
        width: 60px;
        height: 60px;
      }
      &::after {
        top: 30px;
        right: 18px;
      }
    }
  }
}
@media (min-width: 325px) and (max-width: 767px) {
  .btn-regist {
    a {
      font-size: 18px;
      &::before {
        top: 3px;
        left: 25px;
      }
      &::after {
        top: 30px;
        right: 18px;
      }
    }
  }
}
@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }

  #content-wrap {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #content-wrap {
    width: 980px;
    margin: 0 auto;
  }
}
