.btn-regist {
    a {
        display: inline-block;
        text-align: center;
        padding: 15px 0;
    }
}
@media (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }
    
    #content-wrap {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #content-wrap {
        width: 980px;
        margin: 0 auto;
    }
}
